*{
    padding: 0;
    margin: 0;
}

html {
    color: #333333;
    font-size: 62.5%;
    line-height: 1.4;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #FFFFFF;
}


/*Header section*/
.header{
    background-color: #8B0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 6px 2%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img{
    height: 90px;
    width: auto ;
    transition: all 0.3s;
}

.header a{
    font-size: 16px;
    color: #CFAE75;
    text-decoration: none;
    font-weight: bold;
}

.header .menu {
    display: none;
    border-radius: 20px;
    width: 50px;
}


/*header mobile*/
.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #8B0000;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 5px;
    font-size: 25px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    color: #CFAE75;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.header .overlay a:hover,
.header .overlay a:focus{
    transform: scale(1.1);
    color: #ffffff;

}


.header .overlay .close{
    position: absolute;
    margin-top: 10px;
    top: 20px;
    right: 30px;
    font-size: 12px;
    background: #CFAE75;
    color: #ffffff;
}


.header .menu button{
    width: 50px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #CFAE75;
    box-shadow: none;
    border: none;
    background-color: #8B0000;
    font-size: 16px;
}



.header .menu button:hover{
    transform: scale(1.1);
    color: #CFAE75;
}

/*header mobile*/



.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover {
    color: #e0ebfa;
}

.language-button{
    align-items: center;
}

.check{
    position: relative;
    width: 50px;
    top:-15px;
}

.check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #F5F5DC;
    border-color: #CFAE75;
    border-radius: 25px;
}

.check::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #CFAE75;
    box-sizing: border-box;
}

.check:checked::after{
    border: 2px solid #CFAE75;
    background: #556B2F;
    left: 25px;
}

.check:checked::before{
    background-color: #FFFFFF;
}


/*Hero section*/

#hero_section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

#hero_section .hero_img .hero-gradient {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0 0 0 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero_section .hero_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 0 0 0 0;
}

#hero_section .hero_text {
    position: relative;
    padding: 14rem;
    z-index: 2;
}

#hero_section .hero_text h1 {
    font-size: 75px;
    color: #F5F5DC;
    margin-bottom: 20px;
}

#hero_section .hero_text p {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}

#hero_section .hero_text button {
    padding: 2.5rem 2.5rem;
    margin: 7rem 7rem 0 7rem;
    background-color: #CFAE75;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #5D4037;
    border-radius: 1rem;
    border: none;
}
#hero_section .hero_text button:hover {
    background-color: #d7b883;
    cursor: pointer;
    transform: scale(1.1);
}
/*end of hero section*/




/* Asegura que no haya desbordamiento horizontal */


/* Services Section */
#services_section {
    margin-top: 220px;
    background-color: #F5F5DC; 
    border-radius: 20px;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
}

/* Título de la sección */
.services_title {
    font-size: 3.5rem;
    color: #8B0000;
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
}

/* Estilos para cada servicio */
.service-item {
    background-color: #FFFFFF;
    border: 2px solid #8B0000; 
    border-radius: 20px; 
    padding: 30px;
    margin: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 300px;
}















/*start of membership section*/

#section-membership {
    text-align: center;
    border-radius: 10px;
}

#section-membership h2 {
    font-weight: bolder;
    font-size: 350%;

}

#section-membership h3 {
    margin-top: 20px;
}

#section-membership .sub-section {
    background-color: #F5F5F5;
    margin: 40px;
}

#section-membership .sub-section h3 {
    text-align: center;
    font-size: 100%;
    margin-top: 20px;
}
#section-membership .section-title{
    text-align: center;
    font-size:200%;
    margin-bottom: 20px;;
    color: #5C5C5C;
}
#section-membership .tarifas{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    margin: 2%;
}

#section-membership .tarifa {
    background-color: #DEDEFF;
    padding: 50px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex: 1 1 30%;
}

#section-membership .tarifa h3 {
    margin-bottom: 10px;
    color: #003F8F;
    font-weight: bolder;
    font-size: 200%;
    margin-bottom: 20px;;
}

#section-membership .tarifa p {
    margin-bottom: 15px;
}

#section-membership .tarifa ul {
    margin-bottom: 15px;
    text-align: left;
    color: #5C5C5C;
}

#section-membership .tarifa .btn-container {
    margin-top: auto;
}

#section-membership .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Monserrat', sans-serif;
}

#section-membership .btn:hover {
    background-color: #003f8f;
}





/*responsive 1024px*/
@media screen and (max-width: 1024px) {

    .header .nav-links{
        display: none;
    }

    .header .menu{
        display: inherit;
    }

    .header .overlay .close{
        font-size: 30px;
        top: 0;
        left: 50px;
    }

    .service-item {
        flex: 1 1 calc(50% - 40px);
        max-width: 400px
    }

    
    #section-membership .tarifas {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        padding: 40px;
        border-radius: 20px;
        margin: 2%;
        flex-wrap: wrap;
    }
    #section-membership .tarifa ul{
        text-align: center;
    }

}

@media only screen and (max-width: 960px) {

    .header .nav-links li{
        padding: 0 10px;
    }

    .header .nav-links li a{
        font-size: 1.5rem;
    }

    .header .menu button{
        font-size: 1.5rem;
    }

    .header .logo img{
        height: 50px;
    }
}


/*responsive 1480px*/
@media screen and (max-width: 1480px) {

    .header .logo img{
        height: 90px;
    }

    .header .logo{
        display: none;
    }

}


/*responsive 768px*/
@media screen and (max-width: 768px) {

    .header .nav-links a{
        padding: 0;
        font-size: 1rem;
    }

     #section-membership .tarifas {
        flex-direction: column;
        align-items: center;
    }

    #section-membership .tarifa {
        width: 80%;
    }   

}









/* Estilo para pantallas grandes */
@media (min-width: 769px) {
    #services_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-item {
        flex: 1 1 calc(50% - 40px); 
        max-width: calc(40% - 40px);
    }
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    #services_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-item {
        flex: 1 1 calc(100% - 20px); 
        padding: 20px;
        margin: 10px 0; 
        max-width: calc(100% - 20px); 
    }

    .service-item h3 {
        font-size: 1.6rem;
    }

    .service-item p {
        font-size: 1.1rem;
    }
}









/*Testimonials Section*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.testimonials {
    padding: 20px;
    text-align: center;
}

.testimonials h2 {
    color: #8b0000;
    margin-bottom: 20px;
    font-weight: 1000;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial {
    background-color: #f5f5dc;
    border: 2px solid #8b0000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.testimonial img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial h3 {
    margin: 10px 0 5px;
    color: #000000;
}

.testimonial .profession {
    color: #000000;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 10px;
}

.testimonial .comment {
    color: #000000;
}

@media (max-width: 768px) {
    .testimonials-container {
        grid-template-columns: 1fr;
    }
}

/* End Testimonials Section*/
